*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}
.bgimg{
    background-image: url(image/pic1.png);
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height:650px;
    padding: 20px;
    font-size:30px;
    color: whitesmoke;
    height: auto ;
}
.bgimg nav{
    position: fixed;
    font-weight: 900;
        
}
.navbar button{
    background-color: rgb(110, 170, 49);
    position: sticky;
    margin-top: 100px;
    margin-left: -20px;

}
.nav-item{
    font-size: 30px;
}
.headerset{
    padding-top: 100px ;
    padding: 100px;
    box-sizing: border-box;
    
}

.headerset h3{ position: absolute;
    top: 20px;
    left: 20px;
    font-size: 100px;
    font-weight: 900;
    text-shadow:5px 4px green;
    

}
.headerset h5{
    color: palegoldenrod;
    padding-top: 30px;

}
.headerset h1{
    color: white;
    font-weight: bolder;
    padding-bottom: 20px;
    font-size: 50px;
    font-weight: 900;
}

.about{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #39b54a;
    color: #010507;
    position: relative;

}
.about h5{
    text-align: center;
    text-transform: capitalize;
    font-size: large;

 }
 .about h1{
     text-align: center;
     color: azure;
     text-decoration: underline;
    text-transform: capitalize;   
 }
 .about p{
     text-align: center;
     padding-top: 10px;
     font-size: x-large;
     font-weight: 700;
     padding: 20px;
 }

/* ...our services...*/

.services{
    padding:100px 0px 60px;
    height:auto;
}
.row-setting{
    margin: 100px 0px !important;
}
    
.imgsetting{
    border-radius: 100%;
    height: 100px;
    width: 100px;
}
.imgsetting h2{
    margin-top: 50px;  
    font-weight: bold;
    font-size: 30px;
    text-align: center; 
}
.imgsetting p{
    padding: 10px;
    margin: 5px -60px;
    width: 250px;
    text-align: center;
    color: #6c757d;
}
.imgsetting i{
    margin-top: 25px;
}

/*.....Works....*/

.works {
    height: auto;
    background-image: linear-gradient(360deg,white 60%, rgb(19, 16, 16) 40%) ;
    
}

.works p{
    padding-top: 50px;
    margin-top: 10px;
    text-align: center;
    color: yellowgreen;
    font-size: 20px;
    font-weight: bold;
    font-style:italic;
}


.works h2{
    margin-top: -25px;  
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: aliceblue; 
    margin-bottom: 50px;
}
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  .column {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }
  
  /* ........our clients.....*/
  .clients {
    margin-top: 100px;
    height: auto;
    background-color: #94989c;
    margin-bottom: 100px;
    padding-bottom: 70px;
    
} 
.clients p{
    padding-top: 150px;
    margin-top: 2px;
    text-align: center;
    color: rgba(99, 148, 0, 1);
    font-size: 25px;
    font-weight: bold;
    font-style:italic;
}


.items {
    width: 90%;
    margin: 0px;
    margin-top: 100px;
    height: 25%;
    
}

.slick-slide{
    margin: 10px;
}
.slick-slide img {
    margin-top: 100px;
    width: 100%;
    border: 0px solid #fff;
}

/*.......contact us.....*/

.contact{
    background:linear-gradient(360deg,rgb(223, 224, 224) 50%, rgb(19, 16, 16) 50%);
    background-size: cover;
    margin-top: -80px;
    height: auto;
    padding-top: 40px;
}
.contact p{
    padding: 10px;
    margin: 5px;
    width: 250px;
    color: green;
    text-align: center !important;
}
.contact h2{
    margin-top: 50px;  
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: rgb(243, 243, 243); 
    margin-bottom: 50px;
}
.mb-4{
    margin: 50px;
    height: auto;
    padding: 50px;
    
}
.row label{
    color: green;
    font-weight: bold;
}
.row li{
    margin-top: 10px;
    text-align: right;
    color:maroon;
}
.md-form{
    padding: 10px;
    
}

/* ......FOOTER.....*/
.footerinfo{
    background-color: grey;
    background-size: cover;

    padding: 20px;
}
.footerinfo sub tr {
    color: #fff;
    font-family: "montserrat-regular",sans-serif;
    font-size: 1.3rem;
    padding: 0 2rem;
}
.footerinfo email{
    top: 10px;
    background-color: grey;
    color:white;
    width: 200px;
    height: 35px;
}
.footerinfo button{
    width: 100px;
    height: 35px;
    background-color: green;
    font-weight: bold;
}